.text-red{
    color: darkred;
}

.text-orange{
    color: rgb(255, 132, 0);
}

.text-orange-50{
    color: rgb(255, 132, 0);
    opacity: .5;
    /* /transparency @ 50% */
}

.text-blue{
    color: rgba(0, 0, 199, 0.8);
    /* transparency @ 80% */
}

.text-green{
    color: #00a400;
}

.text-serif{
    font-family: serif;
}

.text-sans-serif{
    font-family: sans-serif;
}

.text-monospace{
    font-family: monospace;
}